<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712366616387-g36ddv4o5fvjl152p2v10jstmsjjn6oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712366616387-g36ddv4o5fvjl152p2v10jstmsjjn6oh</string>
	<key>API_KEY</key>
	<string>AIzaSyC62dtN-IeXqeeQ_yk84_RX9wczGBqEARU</string>
	<key>GCM_SENDER_ID</key>
	<string>712366616387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.howardchang.login.LogMe</string>
	<key>PROJECT_ID</key>
	<string>logme-3a042</string>
	<key>STORAGE_BUCKET</key>
	<string>logme-3a042.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712366616387:ios:ded9d75b7ddb81b77e49f6</string>
	<key>DATABASE_URL</key>
	<string>https://logme-3a042.firebaseio.com</string>
</dict>
</plist>